@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu';
}

body{
	background: #161922;
}

.resume{
	border-radius:25px;
	border: 2px solid #f7c324;
	width: 800px;
	background: #f7c324;
	margin: 25px auto;
	display: flex;
}

.left{
	background:#161922;
	width: 250px;
	padding: 0 20px;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}

.right{
	width: calc(100% - 250px);
}

.left .img_holder{
	text-align: center;
	padding: 20px 0;
}

.left .img_holder img{
	width: 200px;
	border-radius: 30px;
}

.pb{
	padding-bottom: 20px;
}

.title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: #ffffff;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}

.title:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 100px;
	height: 3px;
	background: #f7c324;
}

.left .icon{
	font-size: 20px;
	color: #161922;
}

.left .text{
	color: #f7c324;
	text-transform: uppercase;
	font-size: 13px;
}

.contact .li_wrap{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
	
}

.contact .li_wrap .icon{
	width: 50px;
	height: 50px;
	background: gold;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.contact a{
	text-decoration: none;
}
.contact .li_wrap .text{
	width: calc(100% - 50px);
	word-break: break-word;
	color: #f7c324;
}
.li_wrap:hover .icon, 
.li_wrap:hover .text {
	transition: 3s;
	color:#fff;
}

.skills ul,
.hobbies ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills .li_wrap{
	border: 2px solid #f7c324;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text{
	margin-top: 5px;
	text-align: center;
}
.skills .li_wrap:hover{
	transition: 2s;
	background: #f7c324;
}
.skills .li_wrap .icon,
.skills .li_wrap .text{
	color: #f7c324;
}
.skills .li_wrap:hover .icon,
.skills .li_wrap:hover .text{
	color: #161922;
    text-align: center;
}
.hobbies .li_wrap{
	border: 2px solid #f7c324;
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
	color: #f7c324;
}

.hobbies .li_wrap:hover{
	transition: 2s;
	background: #f7c324;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
	color: #161922;
    text-align: center;
}

.header{
	background: #161922;
	padding: 15px 30px;
	color: #f7c324;
	height: 300px;
	border-top-right-radius: 25px;
	font-family: 'Times New Roman';
}

.header .name{
	font-size: 35px;
	direction: ltr;
	text-transform: uppercase;
	font-weight: 700;
	color: #f7c324;
}

.header .role{
	font-style: italic;
	font-weight: 300;
	font-size: 22px;
	color: #f7c324;
	margin-left: 0in;

}

.header .about {
	margin-top: 20px;
	line-height: 25px;
}
.right_inner .title{
color: #161922;
}
.right_inner .title::before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 100px;
	height: 3px;
	background: #161922;
}

.right_inner{
	padding: 30px;
	color: #161922;
}

.right_inner .education{
	margin-top: 30px;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 125px;
    color: #161922;
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.right_inner .li_wrap .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #161922;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
	margin-top: 15px;
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background:#161922;
	border-radius: 0%;
	border:1px solid #fff;
}

.right_inner .li_wrap .info:after{
	content: " ";
	position: absolute;
	top: 14px;
	left: 3.79px;
	width: 3px;
	height: 90%;
	background: #161922;
	border:1px solid #fff ;
}
cite , cite a{
	text-align: center;
	text-decoration: none;
    color: #f7c324;
	line-height: 4;
	padding-top: 0px;
    margin-left: 260px;
 }
cite a:hover{
    color: aquamarine;
 }
footer {
	font-size: 18px;
	text-align: center;
	padding: 20px;
	margin-top: 0px;
	color: #fff;
	background-color: #161922;
	text-decoration: none;
}
footer:hover{
	color: #f7c324;
}