@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: Georgia;
}
body{
	background:#161922;
}
#sidenavigation a {
	position: fixed; 
	left: -93px; 
	transition: 0.3s; 
	padding: 20px; 
	width: 110px; 
	text-decoration: none; 
	font-size: 30px; 
	color: #fff; 
	border-radius: 2px 10px 25px 0; 
}
#sidenavigation a:hover{
	left: 0; 
	background-color: #f7c324;
    color:#161922;
}
#home{
	top: 20px;
	background: transparent;
    border:3px solid gold; 
}
#back {
	top: 95px;
	background: transparent;
 	border:3px solid gold; 
}
#next{
	top: 170px;
	background: transparent;
    border:3px solid gold; 
}
.main{
	border-radius:25px;
	border: 4px solid #f7c324;
	width: 800px;
	background:  #f7c324;
	margin: 25px auto;
	display: flex;
}
.left{
	background:#161922;
	width: 250px;
	padding: 0 20px;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
}
.right{
	width: calc(100% - 250px);
}
.left .imgbox{
	text-align: center;
	padding: 20px 0;
}
.left .imgbox img{
	width: 200px;
	border-radius: 30px;
}
.pb{
	padding-bottom: 20px;
}
.title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: #ffffff;
	position: relative;
	text-align: right;
	margin-bottom: 15px;
}
.title:before{
	content: "";
	position: absolute;
	top: 40px;
	right: 0;
	width: 100px;
	height: 3px;
	background: #f7c324;
}
.title:hover{
	color: gold;
	cursor: pointer;
}
.left .icon{
	font-size: 20px;
	color: #f7c324;
}
.left .text{
	color: #f7c324;
	text-transform: uppercase;
	font-size: 13px;
}
.contact .licover{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
	
}
.contact .licover .icon{
	width: 50px;
	height: 50px;
	background: #161922;
	border-radius: 15px;
	border:2px solid #f7c324;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
.contact .licover .icon:hover{
	background-color: #f7c324;
 	color:#161922;
}
.contact a{
	text-decoration: none;
}
.contact .licover .text{
	width: calc(100% - 50px);
	word-break: break-word;
	color: #f7c324;
}
.contact .licover .text:hover{
	cursor: pointer;
	color: #fff;
}
.skills ul,
.hobbies ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.skills .licover,
.hobbies .licover{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.skills .licover{
	border: 2px solid #f7c324;
}
.skills .licover .text,
.hobbies .licover .text{
	margin-top: 5px;
	text-align: center;
}
.skills .licover:hover{
	background: #f7c324;
}
.skills .licover .icon,
.skills .licover .text{
	color: #f7c324;
}
.skills .licover:hover .icon,
.skills .licover:hover .text{
	color: #161922;
    text-align: center;
}
.hobbies .licover{
	border: 2px solid #f7c324;
}
.hobbies .licover .icon,
.hobbies .licover .text{
	color: #f7c324;
}
.hobbies .licover:hover{
	background: #f7c324;
}
.hobbies .licover:hover .icon,
.hobbies .licover:hover .text{
	color: #161922;
    text-align: center;
}
.header{
	background: #161922;
	padding: 15px 30px;
	color: #f7c324;
	height: 300px;
	border-top-right-radius: 25px;
	font-family: 'Times New Roman';
}
.header .name{
	font-size: 30px;
	direction: ltr;
	text-transform: uppercase;
	font-weight: 700;
	color: #f7c324;
}
.header .role{
	font-style: italic;
	font-weight: 300;
	font-size: 22px;
	color: #fff;
	margin-left: 0in;

}
.header .about {
	margin-top: 20px;
	line-height: 25px;
}
.rightinsideinfo .title{
color: #161922;
}
.rightinsideinfo .title:hover{
	color:#fff;
}
.rightinsideinfo .title::before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 150px;
	height: 3px;
	background: #fff;
}
.rightinsideinfo{
	padding: 30px;
	color: #161922;
}
.rightinsideinfo .education{
	margin-top: 30px;
}
.rightinsideinfo .licover{
	display: flex;
	margin-bottom: 15px;
}
.rightinsideinfo .licover .date {
    width: 125px;
    color: #161922;
	font-weight: 750;
}
.rightinsideinfo .licover .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}
.rightinsideinfo .licover .infotitle{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #161922;
}
.rightinsideinfo .licover .infosub{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}
.rightinsideinfo .licover .infocont{
	margin-top: 15px;
}
.rightinsideinfo .licover .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background:#161922;
	border-radius: 0%;
	border:1px solid #fff;
}
.rightinsideinfo .licover .info:after{
	content: " ";
	position: absolute;
	top: 14px;
	left: 3.79px;
	width: 3px;
	height: 90%;
	background: #161922;
	border:1px solid #fff ;
}
cite , cite a{
	text-align: center;
	text-decoration: none;
    color: #f7c324;
	line-height: 4;
	padding-top: 0px;
    margin-left: 180px;
 }
cite a:hover{
    color: aquamarine;
 }
footer {
	font-size: 18px;
	text-align: center;
	padding: 20px;
	margin-top: 0px;
	color: #fff;
	background-color: #161922;
	text-decoration: none;
}
footer:hover{
	color: #f7c324;
}
